@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700;900&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type='number'] {-moz-appearance:textfield;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2;
    min-width: 320px;
}

.wrapper{
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
	overflow: hidden;
	flex: 1;
}

/* header */

.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 25px 0;
    position: fixed;
    width: 90%;
    background-color: #000000;
    height: 100px;
    z-index: 1000;
}
.header__nav-main{
    display: flex;
    flex-direction: column;
}
.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #6100FF;
    margin-right: 50px;
    line-height: 1.6;
    cursor: pointer;
}
.header__nav-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 0;
    margin: 0 20px 0 0;
    flex-wrap: wrap;
    line-height: 2;
    opacity: 0;
    visibility: hidden;
}
.header__item{
    padding: 0 6px;
    margin: 0 10px;
    cursor: pointer;
    display: block;
}
.header__burger-menu{
    width: 50px;
    height: 50px;
    background-color: #6100FF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 24px;
    cursor: pointer;
}
.header__burger-line{
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 2px 0;
    border-radius: 2px;
}
.header__nav-extended{
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}
.search-and-cart{
    display: flex;
}
.header__search{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
}
.header__search-bar{
    padding: 8px 14px;
    border-radius: 24px;
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
}
.header__search-bar-img{
    margin: 0px 10px 0px 0;
    cursor: pointer;
}
.header__cart-logo{
    margin: 0px 10px;
    display: block;
}
.header__lang-settings{
    display: flex;
    align-items: center;
}
.header__lang{
    cursor: pointer;
}

@media (min-width: 1050px) {
    .header__nav-main{
        flex-direction: row;
    }
    .header__nav-extended{ 
        display: flex;
    }
    .header__nav-menu{
        opacity: 1;
        visibility: visible;
    }
    .header__burger-menu{
        opacity: 0;
        visibility: hidden;
    }
    .header__logo, .header__nav-menu{
        line-height: 1.2;
        flex-direction: row;
    }
}


/* hero */

.hero{
    width: 100%;
    height: calc(100vh - 140px);
    background: blueviolet;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #000000;
    line-height: 1.6;
}

/* stars */

.stars-belt{
    margin: 10px 0;
    padding: 20px 0;
    display: flex;
}

.four-pointed-star{
    margin:40px auto;
    width:1em;
    font-size:3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .four-pointed-star:before{
    content:"";
    position:absolute;
    background:#6100FF;
    width:0.4em;
    height:0.6em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .four-pointed-star:after{
    content:"";
    position:absolute;
    background:#6100FF;
    width:0.4em;
    height:0.6em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }

/* content */

.content{
    width: 100%;
    min-height: 100vh;
}
.content__title{
    text-align: center;
    font-size: 3rem;
    margin: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.content__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item{
    border: 1px solid #6100FF;
    width: 320px;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
}
.item__img{
    min-width: 260px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
.item__title{
    border-top: 1px solid #6100FF;
    line-height: 1.3;
    font-size: 1.5rem;
    flex: 1;
}
.item__price{
    font-size: 1.3rem;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.shopcart{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.content__button-container{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.content__button{
    text-align: center;
    border: 2px solid #6100FF;
    border-radius: 50%;
    padding: 10px 40px;
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* footer */

.footer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    background-color: #6100FF;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.footer__email-subscription{
    border-top: 2px solid #6100FF;
    width: 100%;
    background-color: #000000;
    padding: 20px 30px;
}
.footer__title{
    font-size: 2.5rem;
    color: #6100FF;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer__text{
    font-size: 1.5rem;
}
.footer__form{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.footer__input{
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.footer__send{
    position: relative;
    right: 36px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    background: transparent;
    color: #ffffff;
}
.footer__link-list{
    border-top: 2px solid #6100FF;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__link{
    color: #ffffff;
    margin: 2px;
    padding: 4px;
    display: block;
}

@media (min-width: 700px) {
.footer{
    flex-direction: row;
}
.footer__link-list{
    border-left: 1px solid #6100FF;
    width: 50%;
    border-radius: 20px 0 0 0;
} 
 .footer__email-subscription{
    border-right: 1px solid #6100FF;
    width: 50%;
    border-radius: 0 20px 0 0;
} 

}

/* actives */

.active--header__lang{
    color: #6100FF;
    font-weight: 700;
    font-size: 1.1rem;
}
.active--menu{ 
    flex-direction: column;
    align-items: start;
    .header__nav-extended{ 
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
    .header__nav-menu{
        opacity: 1;
        visibility: visible;
        flex-direction: column;
    }
    .header__lang-settings{
        margin: 0 14px 4px 14px;
    }
    .header__search-and-cart{
        flex-wrap: wrap;
    }
    .header__search{
        margin: 15px 0;
    }
    .header__cart-logo{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}