@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Montserrat:wght@400;700;900&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
* {min-width: 0;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;}
input[type='number'] {-moz-appearance:textfield;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2;
    min-width: 360px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6100FF;
    border-radius: 10px;
}

.wrapper{
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
	overflow: hidden;
	flex: 1;
    min-height: 100vh;
}
.title{
    font-size: 3rem;
    margin: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.input{
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: block;
}
.input:focus, textarea:focus{
    border: 1px solid #6100FF;
}
.textarea{
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: block;
}
.button-container{
    width: 100%;text-align: center;
    margin: 30px 0;
}
.button{
    text-align: center;
    border: 2px solid #6100FF;
    border-radius: 50%;
    padding: 10px 40px;
    background: #000;
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.button:hover, .button:focus{
    background-color: #6100FF;
}
::placeholder {
    color: white;
    opacity: 0.9; 
  }
/* header */

.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 25px 0;
    position: fixed;
    width: 90%;
    background-color: #000000;
    height: 100px;
    z-index: 1000;
}
.header__nav-main{
    display: flex;
    flex-direction: column;
}
.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #6100FF;
    margin-right: 50px;
    line-height: 1.6;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__nav-menu{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 0;
    margin: 0 20px 0 0;
    flex-wrap: wrap;
    line-height: 2;
    opacity: 0;
    visibility: hidden;
}
.header__item{
    padding: 4px;
    margin: 0 10px;
    cursor: pointer;
    display: block;
    color: #ffffff;
}
.header__item:hover{
    background: #6100FF;
}
.header__burger-icon{
    width: 50px;
    height: 50px;
    background-color: #6100FF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 24px;
    cursor: pointer;
    z-index: 1000000;
}
.header__burger-line{
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 2px 0;
    border-radius: 2px;
}
.header__nav-extended{
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}
.search-and-cart{
    display: flex;
}
.header__search{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 100%;
}
.header__search-bar{
    padding: 6px 12px;
    border-radius: 24px;
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
}
.header__search:hover{
    border: 1px solid #6100FF;
}
.header__search-bar-img{
    margin: 0px 10px 0px 0;
    cursor: pointer;
}
.header__cart-logo{
    margin: 0px 18px 0 14px;
    display: block;
}
.header__lang-settings{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.header__lang{
    cursor: pointer;
    
}

@media (min-width: 1100px) {

    .header__nav-main{
        flex-direction: row;
    }
    .header__nav-extended{ 
        display: flex;
    }
    .header__nav-menu{
        opacity: 1;
        visibility: visible;
    }
    .header__burger-icon{
        opacity: 0;
        visibility: hidden;
    }
    .header__logo, .header__nav-menu{
        line-height: 1.2;
        flex-direction: row;
    }
}
.burger-menu__container{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(97, 0, 255, 0.2);
    overflow-y: auto;
    visibility: hidden;
}
.burger-menu{
    width: 100%;
    height: auto;
    padding: 12px 20px;
    background-color: #000000;
}
.burger-menu .header__item{
    margin: 20px 0;
    font-size: 1.6rem;
}
.burger-menu .header__lang-settings{
    margin: 0 6px;
    font-size: 1.6rem;
}
.burger-menu .search-and-cart{
    margin: 20px 0;
}

.burger-menu .active--header__lang{
    font-size: 1.7rem;
}

.burger-menu .header__search{
    max-width: 400px;
}
.burger-menu .header__search-bar{
    font-size: 1.5rem;
}
.burger-menu .header__cart-logo img{
    width: 50px;
    height: auto;
}

/* hero */

.hero{
    width: 100%;
    height: calc(100vh - 140px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/banner1.jpg');
    background-position: center;
    background-size: cover;
}
.hero404{
    width: 100%;
    height: calc(100vh - 140px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6100FF;
    background-position: center;
    background-size: cover;
}
.hero404 .hero__title{
    color: #000000;
}
.hero__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #6100FF;
    line-height: 1.6;
    cursor: default;
}

/* stars */

.stars-belt{
    margin: 10px 0;
    padding: 20px 0;
    display: flex;
}
.four-pointed-star{
    margin:40px auto;
    width:1em;
    font-size:3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-pointed-star:before{
    content:"";
    position:absolute;
    background:#6100FF;
    width:0.4em;
    height:0.6em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}
.four-pointed-star:after{
    content:"";
    position:absolute;
    background:#6100FF;
    width:0.4em;
    height:0.6em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

/* content */
.content{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__title{
    text-align: center;
    word-break: break-all;
}
.content__nav{
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}
.content__nav-option{
    margin: 10px;
    display: flex;
    justify-content: center;
    min-width: 140px;
    font-size: 1.5rem;
    cursor: pointer;
    float: left;
}
.active-content__nav-option{
    color: #6100FF;
    text-decoration: underline;
}
.content__row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content__menu{
    width: 100%;
    padding: 16px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}
.item{
    border: 1px solid #6100FF;
    width: 320px;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
}
.item__img{
    min-width: 260px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}
.item__title{
    border-top: 1px solid #6100FF;
    line-height: 1.3;
    font-size: 1.5rem;
    flex: 1;
}
.price{
    font-size: 1.3rem;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
.fullitem-price{
    font-weight: bold;
    margin-bottom: 10px;
}
.shopcart{
    width: 30px;
    height: auto;
    cursor: pointer;
}

@media screen and (min-width: 1022px) {
    .content__nav {
        justify-content: center;
    }
}

/* reviews */

.reviews{
    width: 100%;
}
.reviews__row{
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.reviews__item{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px 30px;
    justify-content: center;
}
.reviews__img{
    width: 50%;
    max-height: 400px;
    max-width: 300px;
    height: auto;
    min-width: 240px;
}
.reviews__info{
    width: calc(50% - 30px);
    width: 240px;
}
.reviews__stars{
    cursor: default;
    font-size: 30px;
    letter-spacing: 3px;
    color: #6100FF;
    display: flex;
    flex-wrap: nowrap;
    text-shadow: 1px 1px 5px #6100FF;
}
.reviews__star:last-child{
    color: #ffffff;
}
.reviews__username{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 8px 0;
}
.reviews__text{
    line-height: 1.3;
}
.reviews__date{
    margin-top: 8px;
    font-size: 1.1rem;
}
.reviews__buttons{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}
.reviews__button{
    width: 54px;
    height: 40px;
    border: 2px solid #6100FF;
    border-radius: 50%;
    font-size: 30px;
    color: #6100FF;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.1;
}
.reviews__button:hover{
    background-color: #6100FF;
    color: #000;
}

@media (min-width: 1200px) {
    .reviews__item{
        width: calc(50% - 30px);
    }
    .reviews__info{
        width: calc(50% - 30px);
    }
}

/* track order */

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.form{
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}
.track-order-map{
    border: 1px solid #6100FF;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    height: 402px;
}
.track-order-map iframe{
    height: 400px;
    width: 100%;
}
.about-us{
    max-width: 600px;
    margin: 20px 0;
}
.about-us__text{
    font-size: 1.3rem;
    margin-top: 12px;
}

@media (min-width: 1335px) {
    .form-container{
       justify-content: space-between;

    }
    .form{
        margin: 0 5% 0 0;
    }
}

/* banner */

.banner{
    margin: 30px 0;
    width: 100%;
    min-height: 500px;
    height: 86vh;
    background-image: url('../images/banner2.jpg');
    background-position: center;
    background-size: cover;
}

/* full-item */

.path{
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px 10px 20px 0;
}
.full-item-container{
    min-height: 68vh;
}
.full-item{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.full-item__images{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #6100FF;
    background-color: #6100FF;
    max-height: 600px;
}
.full-item__img{
    width: 50%;
    border: 1px solid #6100FF;
}
.full-item__img:first-child{
    width: 100%;
    border-radius: 0;
}
.full-item__img:nth-child(2){
    border-radius: 0 10px 0 0;
}
.full-item__img:nth-child(3){
    border-radius: 10px 0 0 0;
}
.full-item__info{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.full-item__info button{
    margin-bottom: 20px;
}
.full-item__title{
    font-size: 3rem;
}

.color-row{
    display: flex;
    min-width: 0;
    align-items: center;
    gap: 10px;
}
.color-checkbox-row{
    display: flex;
    align-items: center;
}
.color__checkbox{
    width: 20px;
    height: 20px;
    margin: 0 3px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.color__checkbox:first-child{
    margin: 0 0 3px 0;
}
.color__checkbox + label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
    border-radius: 2px;
}
.color__checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgb(228, 220, 220);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.color__checkbox:checked + label::before {
    border: 3px solid #6100FF !important;
}

.size-container{
    width: 160px;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
}
.size-dropdown::after{
    content: '>';
    font-size: 22px;
    color: #6100FF;
    position: absolute;
    right: 8px;
    top: 1px;
    cursor: pointer;
}
.size-dropdown::before{
    content: '<';
    font-size: 22px;
    color: #6100FF;
    position: absolute;
    right: 74px;
    top: 1px;
    cursor: pointer;
}
.option-title{
    font-size: 1.5rem;
    margin: 3px 0;
}
.size-dropdown{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    display: flex;
    justify-content: center;
}


.accordion{
    margin: 10px 0;
    min-height: 40px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}
.accordion__title{
    font-size: 1.4rem;
    line-height: 2;
    position: relative;
}
.accordion__title::after{
    content: '>';
    position: absolute;
    right: 10px;
    font-size: 1.4rem;
    line-height: 2;
    transform: rotate(90deg);
    
}
.accordion__body{
    line-height: 1.5;
    margin: 3px 0;
}

@media (min-width: 830px) {
    .full-item__info{
        width: calc(100% - 460px);
    }
}

/* cart */

.cart-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(97, 0, 255, 0.1);
    padding: 20px;
    visibility: hidden;
}

.cart {
    margin-top: 100px;
    border: 1px solid #6100FF;
    width: 500px;
    height: 700px;
    overflow-y: auto;
    background: #000;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-height: 700px) {
    .cart {
        height: 70%; 
    }
}
.cart__header{
    height: 60px;
    border-bottom: 1px solid #6100FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.cart__main-title{
    font-size: 1.6rem;
}
.cart__close-icon{
    margin-top: 2px;
    cursor: pointer;
}
.shipping-info{
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart__items-row{
    margin: 0 20px;
    padding: 20px 0; 
    border-bottom: 1px solid #6100FF;
}
.cart__item{
    width: 100%;
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.cart__img{
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
}
.cart__info{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart__title-delete-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}
.cart__title{
    font-size: 1.3rem;
}
.cart-delete-item{
    cursor: pointer;
}
.cart__size{
    font-size: 1rem;
    margin: 8px 0 12px 0;
    color: #acacac;
}
.cart__quantity-price-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.cart__quantity{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
.cart__quantity-sqr:first-child:hover, 
.cart__quantity-sqr:last-child:hover{
    background-color: #6100FF;
    color: #000000;
}
.cart__quantity-sqr{
    width: 30px;
    height: 30px;
    background-color: #000000;
    border: 1px solid #6100FF;
    color: #ffffff;
    font-size: 1.5rem;
}
.cart__price{
    font-size: 1.3rem;
}
.total-price{
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cart__checkout{
    width: 100%;
    text-align: center;
    padding: 20px;
    
}
/* footer */

.footer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    background-color: #6100FF;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
}
.footer__email-subscription{
    border-top: 2px solid #6100FF;
    width: 100%;
    background-color: #000000;
    padding: 20px 5%;
}
.footer__title{
    font-size: 2.5rem;
    color: #6100FF;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer__text{
    font-size: 1.5rem;
}
.footer__form{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.footer__send{
    position: relative;
    right: 36px;
    width: 30px;
    height: 26px;
    font-size: 24px;
    background: transparent;
    color: #ffffff;
}
.footer__link-list{
    border-top: 2px solid #6100FF;
    width: 100%;
    background-color: #000000;
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__link{
    color: #ffffff;
    margin: 2px;
    padding: 4px;
    display: block;
}
.footer__link:hover{
    background-color: #6100FF;
}

@media (min-width: 700px) {
    .footer{
        flex-direction: row;
    }
    .footer__link-list{
        border-left: 1px solid #6100FF;
        width: 50%;
        border-radius: 20px 0 0 0;
    } 
    .footer__email-subscription{
        border-right: 1px solid #6100FF;
        width: 50%;
        border-radius: 0 20px 0 0;
    } 

}

/* actives */

.active--header__lang{
    color: #6100FF;
    font-weight: 700;
}

.active--menu {
    flex-direction: column;
    align-items: start;
}
.active--menu .header__nav-extended {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
}
.active--menu .header__nav-menu {
    opacity: 1;
    visibility: visible;
    flex-direction: column;
}
.active--menu .header__lang-settings {
    margin: 0 14px 4px 14px;
}
.active--menu .header__search-and-cart {
    flex-wrap: wrap;
}
.active--menu .header__search {
    margin: 15px 0;
}
.active--menu .header__cart-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-error{
    border: 2px solid red;    
}

.recommendations-content{
    min-height: 0;
}